.header-logo {
    height: 40px;
    padding: 5px;
}

span {
    margin: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cntainer {
    height: 100%;
}

.field {
    width: auto;
    max-width: 100%;
    overflow: auto;
}

.mat-form-field {
    margin-top: 20px;
    margin-right: auto;
}

.example-toolbar {
    width: 100%;
}

th.mat-header-cell {
    font-weight: bold;
}

.example-container {
    height: 500px;
    width: 550px;
    max-width: 100%;
    overflow: auto;
}

table {
    width: 800px;
}

.example-container::-webkit-scrollbar {
    display: none;
}

td.mat-column-star {
    width: 20px;
    padding-right: 8px;
}

th.mat-column-position,
td.mat-column-position {
    padding-left: 8px;
}

.mat-table-sticky-border-elem-right {
    border-left: 1px solid #e0e0e0;
}

.mat-table-sticky-border-elem-left {
    border-right: 1px solid #e0e0e0;
}

th,
td {
    overflow: hidden;
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
